<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User info</title>
    <style>
        * {
            font-size: 30px;
        }
    </style>

</head>
<body>
<h1>Страница пользователя</h1>
<p>Имя: <span th:text="${user.name}"></span></p>
<p>Фамилия: <span th:text="${user.surname}"></span></p>
<p>З/П: <span th:text="${user.salary}"></span></p>
<p>Логин: <span th:text="${user.email}"></span></p>
<p>Роли: <span th:text="${user.roles}"></span></p>
</body>
</html>